*{
    box-sizing: border-box;
    color: black;
}

body{
    font-family: 'Syne Mono', monospace;;
}

.jumbotron {
    background-image: url("../img/thumbs_beer-foam-and-bubbles-website-header.webp");
    text-align: center;
    background-size: inherit;
}

img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
}
.beers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
}